h1 {text-align: center;}
div {text-align: center;  
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
	width: 200px;
	height: 300px;}
 
.container {

	  display: flex;
	  column-gap: 20px;
	  flex-direction: row;

	}

.column {

	  flex: 50%;
	  

	  height: 300px;

	}